@model IEnumerable<Makale_Entity.Note>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kullanici.KullaniciAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kategori.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Taslak)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BegeniSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KayitTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DegistirmeTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DegistirenKullanici)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.kullanici.KullaniciAd)
    </td>
    <th>
        @Html.DisplayFor(modelItem => item.kategori.Baslik)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.Baslik)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Text)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Taslak)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BegeniSayisi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.KayitTarihi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DegistirmeTarihi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DegistirenKullanici)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>
