@model IEnumerable<Makale_Entity.Note>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kullanici.KullaniciAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kategori.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Taslak)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BegeniSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KayitTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DegistirmeTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DegistirenKullanici)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.kullanici.KullaniciAd)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.kategori.Baslik)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Baslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taslak)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BegeniSayisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KayitTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegistirmeTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegistirenKullanici)
            </td>
            <td style="display:flex">
                <button class="btn btn-success btn-sm"
                        data-toggle="modal" data-target="#modal1" data-notid="@item.Id">
                    <span class="glyphicon glyphicon-comment"></span>
                </button>
                @BootstrapHelper.LinkButton("/Note/Edit/" + item.ID, "warning", "btn-sm", "edit", "")
                @BootstrapHelper.LinkButton("/Note/Details/" + item.ID, "info", "btn-sm", "search", "")
                @BootstrapHelper.LinkButton("/Note/Delete/" + item.ID, "danger", "btn-sm", "trash", "")
            </td>
        </tr>
    }

</table>
@BootstrapHelper.ModalPoppup("modal1", "yorumlar")
<script src="~/Scripts/yorumlar.js/yorum.js"></script>