@helper LinkButton(string url = "", string id = "", string name = "", string color = "", string css = "", string icon = "")
{
    <a href="@url" id="@id" name="@name" class="btn btn-@color @css"><span class="glyphicon glyphicon-@icon"></span></a>
}

@helper LinkButton(string url = "", string color = "", string css = "", string icon = "")
{
    <a href="@url" class="btn btn-@color @css"><span class="glyphicon glyphicon-@icon"></span></a>
}
@*aynı isimde ama parametreleri farklı birden çok helper yazabiliriz*@

@helper Button(string type="",string text="",string color="",string css="",string icon="")
{
    <button type="@type" class="btn btn-@color @css"> <span class="glyphicon glyphicon-@icon"></span>@text</button>
}