@*sürekli buraya usingle makale entity yazmak yerine view deki webconfig in namespace ine yazdık*@

@model List<Note>
@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_PartialPageKategoriler")
        </div>
        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="
                                ~/image/nba2.jpg"
                                     alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="
                                ~/image/nfl 3.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="
                                 ~/image/f1 2.jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-4 col-lg-4 col-md-4" data-notid="@item.ID">
                        <div class="thumbnail">
                            <img src="~/image/spor.jpg" alt="">
                            <div class="caption">
                                <h4>
                                    <a href="#">@item.Baslik</a>
                                </h4>
                                <h6 class="text-right">
                                    <span class="glyphicon glyphicon-user"></span>@item.kullanici.KullaniciAd<br />
                                    <span class="glyphicon glyphicon-time"></span>@item.DegistirmeTarihi.ToString("dd.MM.yy HH:mm")  @*tarih ve saat dakika formatında yazmasını sağlsdık*@
                                </h6>

                                @if (!string.IsNullOrEmpty(item.Text) && item.Text.Length > 80)
                                {
                                    <p>@item.Text.Substring(0, 80)</p> @*sıfırdan başlayıp 50. karaktere kadar olanı al*@
                                    <a href="#" class="btn-btn btn-default btn-xs"><span class="glyphicon glyphicon-chevron-right"></span>devamı..</a>
                                }
                                else
                                {
                                    <p> @item.Text</p>

                                }

                            </div>
                            <div>
                                <hr />
                            </div>
                            <div class="ratings">
                                <p class="pull-right">
                                    <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal1" data-whatever="@item.ID"><span class="glyphicon glyphicon-comment text-danger"></span>Yorumlar</button>
                                </p>
                                <p>
                                    <button type="button" class="btn btn-default btn-xs text-danger" data-notid="@item.ID" data-like="false">
                                        <span class="glyphicon glyphicon-heart-empty text-danger like-kalp"></span>
                                        <span class=" begenisayisi">@item.BegeniSayisi</span>
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>

    </div>

</div>
@section footer{
    @Html.Partial("_PartialPageFooter")
}


@BootstrapHelper.ModalPoppup("modal1","yorumlar")
<script src="~/Scripts/likes.js/like.js"></script>
<script src="~/Scripts/yorumlar.js/yorum.js"></script>
