@model Kullanici
@{
    ViewBag.Title = "profildegistir";
}

<div class="container" style="margin-bottom:200px">
    <div class="row text-center">
        <h2>profildegistir</h2>
        <br />
        <hr />
    </div>
        <div class="row" style="margin:auto">
            @*post işlemimzde resim dosyasını göndermek için bunu yazdık*@

            @using (Html.BeginForm("profildegistir", "home", FormMethod.Post, new { enctype = "multipart/form-data" }))


            {
            <div class="col-md-3">
                <img src="~/image/@Model.profilresim" class="img-circle" width="100" height="100" />

                <br />
                <input type="file" name="profilresmi" id="profilresmi" class="form-control" />
                @Html.HiddenFor(model => model.profilresim)
            </div>
                <div class="col-md-9">
                    @Html.ValidationSummary(false)
                    @Html.HiddenFor(model => model.ID)   @*id yi html sayfamıza getirmemiz lazımki onu alıp post edebilelim . ve hidden ile de o id yi gizliyoruz*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.Ad, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Ad, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Soyad, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Soyad, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.KullaniciAd, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.KullaniciAd, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Sifre, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Sifre, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="kaydet" class="btn btn-success" />
                        @Html.ActionLink("iptal", "profilgoster", "home", new { @class = "btn btn-success" })
                    </div>
                </div>
            }
        </div>

</div>
